<div class="modal" id="addProduct{{this.id}}">
    <div class="modal-content">
        <div class='container'>
            <table class='highlight'>
                <thead id='product-list' class='list-group'>
                    <tr>
                        <th>Name</th>
                        <th>Amount to Order</th>
                    </tr>
                </thead>
                <tbody data-id='{{this.id}}' class='list-group-item'>
                    <tr>
                        <td>{{this.prodName}}</td>
                        <td class="input-field col s10">
                            <input id="amtOrder" type="number" class="validate center-align">
                        </td>
                        <td>{{this.prodUnitofIssue}}</td>
                    </tr>
                </tbody>
                <thead id='subProduct-list' class='list-group'>
                    <tr>
                        <th class='center-align'>Product on Hand</th>
                        <th class='center-align'>Product PAR</th>
                    </tr>
                </thead>
                <tbody data-id='{{this.id}}' class='list-group-item'>
                    <tr>
                        <td class='center-align'>{{this.prodOnHand}}{{this.prodUnitofIssue}}</td>
                        <td class='center-align'>{{this.prodPAR}}{{this.prodUnitofIssue}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <a href='#!class='center-align'' class='modal-close waves effect waves-green btn-flat'>Submit</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>