<div class="modal" id="modal{{this.id}}">
    <div class="modal-content">
        <div class='container'>
            <table class='highlight'>
               
                <tbody data-id='{{this.id}}' class='list-group-item'>
                    {{#each user}}
                    <tr>
                        <th>Name: </th>
                        <td>{{this.usName}}</td>
                    </tr>
                    <tr>
                        <th>Role: </th>
                        {{#if this.usRole}}
                        <td>Supervisor</td>
                        {{else}}
                        <td>Employee</td>
                        {{/if}}
                    </tr>
                    <tr>
                        <th>Phone Number: </th>
                        <td>{{this.usPhone}}</td>
                    </tr>
                    <tr>
                        <th>Add</th>
                        <td>{{> addOne}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>