<div class="modal" id="modalProducts{{this.id}}">
    <div class="modal-content">
        <div class='container'>
            <table class='highlight'>
                <thead id='product-list' class='list-group'>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Add</th>
                    </tr>
                </thead>
                    {{#each product}}
                <tbody data-id='{{this.id}}' class='list-group-item'>
                    <tr>
                        <td>{{this.prodName}}</td>
                        <td>{{this.prodCategory}}</td>
                        <td>{{this.prodOnHand}}</td>
                        <td>{{> addOne}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>