<!-- Modal Structure -->
<div id="modalOrderHistory{{this.id}}" class="modal">
    <div class="modal-content">
        <table class='highlight'>
            <thead id='order-list' class='list-group'>
                <tr>
                    <th>Product #</th>
                    <th>Qty.</th>
                    <th>Total</th>
                    <th>Employee</th>
                </tr>
            </thead>
            <tbody id='{{this.id}}' data-id='{{this.id}}' class='list-group-item'>
               {{#each orderline}}
                    <tr>
                        <td>{{this.prodName}}</td>
                        <td>{{this.olQuantity}}</td>
                    </tr>
               {{/each}}
            </tbody>
        </table>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>