<!-- Modal Structure -->
<div id="modal{{this.id}}" class="modal">
    <div class="modal-content">
        <table class='highlight'>
            <thead id='order-list' class='list-group'>
                <tr>
                    <th>Order #</th>
                    <th>Submitted</th>
                    <th>Total</th>
                    <th>Employee</th>
                </tr>
            </thead>
            <tbody data-id='{{this.id}}' class='list-group-item'>
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>{{this.olTotal}}</td>
                    <td>{{this.usSupervisorID}}</td>
                </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>