<div class="modal" id="modalUser{{this.id}}">
    <div class="modal-content">
        <div class='container'>
            <form class='mb-4' action='GET'>
                <div class='form-group flow-text'>
                    <div>
                        <h5>Edit {{this.usName}}</h5>
                        <input id="{{this.id}}" type="text" class="input-field qtyRequested tooltipped" data-position="top" data-tooltip="Enter new quantity to request"
                            value="{{this.usName}}"> {{#if usRole}}
                        <input id="{{this.id}}" type="text" class="input-field qtyRequested tooltipped" data-position="top" data-tooltip="Enter new quantity to request"
                            value="Supervisor"> {{else}}
                        <input id="{{this.id}}" type="text" class="input-field qtyRequested tooltipped" data-position="top" data-tooltip="Enter new quantity to request"
                            value="Employee"> {{/if}}
                        <input id="{{this.id}}" type="text" class="input-field qtyRequested tooltipped" data-position="top" data-tooltip="Enter new quantity to request"
                            value="{{this.usPhone}}">
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" id='{{this.id}}' class="modal-close add right btn-floating btn-small waves-effect waves-light red tooltipped" data-id='{{this.id}}'
                data-position="top" data-tooltip="Apply changes"><i class="material-icons">update</i></a>
        </div>
    </div>
</div>