<div id='home'>
  <div>
    {{!-- call header partial --}} {{> header}}
  </div>
  <div class='container'>
    <div class='background z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          {{!-- if user role is supervisor products requested will display may change to any user in future --}} {{#if this.usRole}}
          <table class='highlight'>
            <thead id='product-order-list' class='list-group'>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Add</th>
              </tr>
            </thead>
            <tbody data-id='{{this.id}}' class='list-group-item'>
              <tr>
                {{#each order}}
                <td><a href='#modalOrder{{this.id}}' class='modal-trigger'>{{this.prodID}}</a></td>
                {{> modalOrder}}
                <td>{{this.olUnitofIssue}}</td>
                <td>{{this.olQuantity}}</td>
                {{/each}} {{#each product}}
                <td>{{this.prodName}}</td>
                <td>{{this.prodCategory}}</td>
                <td>{{this.prodOnHand}}</td>
                <td>{{> delete}}</td>
                <td>{{> addOne}}</td>
                {{/each}}
              </tr>
            </tbody>
          </table>
          {{/if}}
          <form class='mb-4' id='searchForm'>
            <div class='form-group flow-text'>
              <h5>Products Search</h5>
              <input type='text' id='product-text' class='form-control' aria-describedby='product-text' placeholder='Enter Product Text'>
            </div>
            <div class='row'>
              <button data-target="modalProducts{{this.id}}" class="btn modal-trigger btn btn-primary right">Submit</button>
              <button id='clear' data-target="modalProducts{{this.id}}" class="btn modal-trigger btn btn-primary right">Clear</button>
              {{!-- submit button for product search --}}
              <div>
                <a id='category-btn' class='dropdown-trigger btn' href='#' data-target='dropdown1'>Category</a> {{!-- category
                search dropdown --}}
                <ul id='dropdown1' class='dropdown-content'>
                  {{!-- category search list is rendered here --}}
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div>
          {{!-- table for search to render --}}
          <table class='highlight'>
            <thead id='product-list' class='list-group'>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Add</th>
              </tr>
            </thead>
            <tbody id='listingTable' data-id='{{this.id}}' class='list-group-item'>
              {{#each product}}
              <tr>
                <td>{{this.prodName}}</td>
                <td>{{this.prodCategory}}</td>
                <td>{{this.prodOnHand}}</td>
                <td>{{> addOne}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <a id='logOut' class='btn btn-primary right' href='/'>Log out</a>
        {{> navbuttons}}
      </div>
    </div>
  </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>
<script src='/js/categorySearch.js'></script>
<script src='/js/products.js'></script>
<script src='/js/productSearch.js'></script>