<div id='home'>
  <div>
    {{> header}}
  </div>
  <div class='container'>
    <div class='background z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          {{#if this.usRole}}
          <table class='highlight'>
            <thead id='product-order-list' class='list-group'>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Add</th>
              </tr>
            </thead>
            <tbody data-id='{{this.id}}' class='list-group-item'>
              <tr>
                {{#each order}}
                <td><a href='#modalOrder{{this.id}}' class='modal-trigger'>{{this.prodID}}</a></td>
                {{> modalOrder}}
                <td>{{this.olUnitofIssue}}</td>
                <td>{{this.olQuantity}}</td>
                {{/each}} {{#each product}}
                <td>{{this.prodName}}</td>
                <td>{{this.prodCategory}}</td>
                <td>{{this.prodOnHand}}</td>
                <td>{{> delete}}</td>
                <td>{{> addOne}}</td>
                {{/each}}
              </tr>
            </tbody>
          </table>
          {{/if}}
          <form class='mb-4' id='searchForm'>
            <div class='form-group flow-text'>
              <h5>Products Search</h5>
              <input type='text' id='product-text' class='form-control' aria-describedby='product-text' placeholder='Enter Product Text'>
            </div>
            <button class="btn btn btn-primary right">Submit</button>
          </form>
        </div>
        <div>
          <table class='highlight'>
                <thead id='product-list' class='list-group'>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody data-id='{{this.id}}' class='list-group-item'>
                    {{#each product}}
                    <tr>
                        <td><a href='#modalProducts{{this.user}}' class='modal-trigger'>{{this.prodName}}</a></td> 
                        <td>{{this.prodCategory}}</td>
                        <td>{{this.prodOnHand}}</td>
                        <td>{{> addOne}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>  
            {{> modalProducts}}
        </div>
               
        <div class='row'>
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active page"><a href="#!">1</a></li>
            <li class="waves-effect page"><a href="#!">2</a></li>
            <li class="waves-effect page"><a href="#!">3</a></li>
            <li class="waves-effect page"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            <button id='logOut' class='btn btn-primary right'>Log out</button>
          </ul>
        </div>
        <div class='row'>
          {{#if this.usRole}}
          <ul id='product-list' class='list-group'>
            <li>
              <button id='super' class='btn btn-primary supervisorPage'><a href='/supervisor'>Supervisor</a></button>
              <button id='super' class='btn btn-primary ordersPage'><a href='./order'>Orders</a></button>
              <button id='super' class='btn btn-primary usersPage'><a href='./user'>Users</a></button>
            </li>
          </ul>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>
<script src='/js/products.js'></script>
<script src='/js/productSearch.js'></script>
