<div id='home'>
  <div>
    {{> header}}
  </div>
  <div class='container'>
    <div class='background z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          <h5>Pending Order</h5>
          <a href='/basicuser' id='back' class='btn btn-primary right top-back'>Back</a>
          <div>
            <table class='highlight'>
              <thead class='list-group'>
                <tr>
                  <th>Category</th>
                  <th>Unit of Issue</th>
                  <th>Quantity</th>
                  <th>Employee</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id='order-list' data-id='{{this.id}}' class='list-group-item'>
                {{#each orderline}}
                <tr>
                  <td>{{this.prodCategory}}</td>
                  <td>{{this.prodName}}</td>
                  <td>{{this.olUnitofIssue}}</td>
                  <td>{{this.olQuantity}}</td>
                  <td>{{this.usName}}</td>
                  <td>{{> delete}}</td>
                  <td>{{> addOne}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <a id='submit-order' class='btn btn-primary right'>Order</a>
            <br>
            <form class='mb-4' action='GET'>
              <div class='form-group flow-text'>
                <div>
                  <h5>Order Search</h5>
                  <input type='text' id='order-text' class='form-control' aria-describedby='order-text' placeholder='Enter order Text'>
                </div>
                <button id='submit' class='btn btn-primary right'>Submit</a></button>
            </form>
            <table class='highlight'>
              <thead id='old-order-list' class='list-group'>
                <tr>
                  <th>Order #</th>
                  <th>Submitted</th>
                  <th>Employee</th>
                </tr>
              </thead>
              <tbody id='order-history' data-id='{{this.id}}' class='list-group-item'>
                {{#each order}}
                <tr>
                  <td><a id='{{this.id}}' class='order-detail waves-effect waves-light modal-trigger' href='#modal{{this.id}}'>{{this.id}}{{> orderHistoryModal}}</a></td>
                  <td>{{this.updatedAt}}</td>
                  <td>{{this.usName}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            </div>
            <br>
            <div>
              <a id='logOut' class='btn btn-primary right' href='/'>Log out</a>
              {{> navbuttons}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
  <script src='/js/index.js'></script>
  <script src='/js/products.js'></script>
  <script src='/js/orderSubmit.js'></script>