<div id='home'>
  <div class='jumbo'>
    <h2 class='white-text center header'>Name Here</h2>
  </div>
  <div class='container'>
    <div class='background z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          <form class='mb-4' action='GET'>
            <div class='form-group flow-text'>
              <button id='back' class='btn btn-primary right top-back'><a href='/superUser'>Back</a></button>
              <label for='orders-text'><h5>Order Search</h5></label>
              <input type='text' id='order-text' class='form-control' aria-describedby='order-text' placeholder='Enter order Text'>
            </div>
            <button id='submit' class='btn btn-primary right'>Submit</button>
          </form>
          <h4>Orders:</h4>
          <thead id='order-list' class='list-group'>
            <table>
              <tr>
                <th>Name</th>
                <th>Unit of Issue</th>
                <th>Item QTY</th>
                <th>Add</th>
              </tr>
          </thead>
          <tbody data-id='{{this.id}}' class='list-group-item'>
            {{#each orderline}}
            <tr><a href='orders/{{this.olID}}'>
              <td>{{this.prodID}}</td>
              <td>{{this.olUnitofIssue}}</td>
              <td>{{this.olQuantity}}</td>
              <td>{{> addOne}}</td>
           </a></tr>
          {{/each}}
          </tbody>
          </table>
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active page"><a href="#!">1</a></li>
            <li class="waves-effect page"><a href="#!">2</a></li>
            <li class="waves-effect page"><a href="#!">3</a></li>
            <li class="waves-effect page"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            <button id='logOut' class='btn btn-primary right'>Log out</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='/js/index.js'></script>