<div id='home'>
  <div>
    {{> header}}
  </div>
  <div class='container'>
    <div class='background z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          <form class='mb-4' action='GET'>
            <div class='form-group flow-text'>
              <button id='back' class='btn btn-primary right top-back'><a href='/basicuser'>Back</a></button>
              <div>
                <h5>Order Search</h5>
                <input type='text' id='order-text' class='form-control' aria-describedby='order-text' placeholder='Enter order Text'>
              </div>
              <button id='submit' class='btn btn-primary right'>Submit</a></button>
          </form>
          <div>
            <table class='highlight'>
              <thead id='order-list' class='list-group'>
                <tr>
                  <th>Unit of Issue</th>
                  <th>Quantity</th>
                  <th> Delete </th>
                  <th> Add </th>
                </tr>
              </thead>
              <tbody data-id='{{this.id}}' class='list-group-item'>
                {{#each order}}
                <tr>
                  <td>{{this.prodID}}</td>
                  <td>{{this.olUnitofIssue}}</td>
                  <td>{{this.olQuantity}}</td>
                  <td>{{this.rlTitle}}</td>
                  <td>{{> delete}}</td>
                  <td>{{> addOne}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <br>
            <table class='highlight'>
              <thead id='order-list' class='list-group'>
                <tr>
                  <th>Order #</th>
                  <th>Submitted</th>
                  <th>Employee</th>
                </tr>
              </thead>
              <tbody data-id='{{this.id}}' class='list-group-item'>
                {{#each order}}
                <tr>
                  <td>{{this.prodID}}</td>
                  <td>{{this.usSupervisorID}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <br>
          <div>
            <a id='logOut' class='btn btn-primary right' href='/'>Log out</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
  <script src='/js/index.js'></script>
  <script src='/js/products.js'></script>
  <script src='/js/orderSearch.js'></script>