<div id='order'>
  <div>
    {{> header}}
  </div>
  <div class='container'>
    <div class='background z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          <h5>Pending Order</h5>
          <a href='/basicuser' id='back' class='btn btn-primary right top-back'>Back</a>
          <div>
            <table class='highlight'>
              <thead class='list-group'>
                <tr>
                  <th class='center-align'>Category</th>
                  <th class='center-align'>Product</th>
                  <th class='center-align'>Unit of Issue</th>
                  <th class='center-align'></th>
                  <th class='center-align'>Quantity</th>
                  <th class='center-align'>Employee</th>
                  <th class='center-align'></th>
                </tr>
              </thead>
              <tbody id='order-list' class='list-group-item'>
                {{#each orderline}}
                <tr>
                  <td class='center-align'>{{this.prodCategory}}</td>
                  <td class='center-align'>{{this.prodName}}</td>
                  <td class='center-align'>{{this.prodUnitofIssue}}</td>
                  <td class='center-align'>{{> updateQuantity}}</td>
                  <td>
                    <input id="{{this.id}}" type="text" class="input-field qtyRequested tooltipped" data-position="top" data-tooltip="Enter new quantity to request"
                      value="{{this.olQuantity}}">
                  </td>
                  <td class='center-align'>{{this.usName}}</td>
                  <td class='center-align'>{{> delete}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <a id='submit-order' class='btn btn-primary right'>Order</a>
            <br>
            <form class='mb-4' action='GET'>
              <div class='form-group flow-text'>
                <div>
                  <h5>Order Search</h5>
                  <input type='text' id='order-text' class='form-control' aria-describedby='order-text' placeholder='Enter order Text'>
                </div>
                <button id='submit' class='btn btn-primary right'>Submit</a></button>
            </form>
            <table class='highlight'>
              <thead id='old-order-list' class='list-group'>
                <tr>
                  <th class='center-align'>Order #</th>
                  <th class='center-align'>Submitted</th>

                </tr>
              </thead>
              <tbody id='order-history' data-id='{{this.id}}' class='list-group-item'>
                {{#each order}}
                <tr id='orderInfo'>
                  <td class='view-order center-align getOrder'>{{this.id}}
                  </td>
                  <td class='center-align'>{{this.updatedAt}}</td>
                  <td>
                    {{!-- edit info --}}
                    <a id='{{this.id}}' class="btnPressed edit btn-floating btn-small red modal-trigger" href='#modalOrderHistory'>
                      <i class=" large material-icons">mode_edit</i>
                    </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <!-- Modal Structure -->
            <div id="modalOrderHistory" class="modal">
              <div class="modal-content">
                <div class='container'>
                  <table class='highlight'>
                    <thead id='order-list' class='list-group'>
                      <tr>
                        <th class='center-align'>Product #</th>
                        <th class='center-align'>Qty.</th>
                        <th class='center-align'>Price</th>
                        <th class='center-align'>Total</th>
                        <th class='center-align'>Employee</th>
                      </tr>
                    </thead>
                    <tbody id='order-table'>

                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </div>
              <div class='row'>

                {{> navbuttons}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
      <script src='/js/index.js'></script>
      <script src='/js/orderSubmit.js'></script>
      <script src='/js/getOrderHistory.js'></script>