<div>
	{{> header}}
</div>
<div class="container">
	<div class="background z-depth-3">
		<div class="row padIt">
			<table class='highlight'>
				<thead id='product-list' class='list-group'>
					<tr>
						<th>Name</th>
						<th>Category</th>
						<th>On Hand</th>
						<th>PAR</th>
						<th></th>
						<th>QTY to Order</th>
					</tr>
				</thead>
				<tbody class='list-group-item'>
					{{#each par}}
					<tr>
						<td>{{this.prodName}}</td>
						<td>{{this.prodCategory}}</td>
						<td>{{this.prodOnHand}}</td>
						<td>{{this.prodPAR}}</td>
						<td>{{> addOne}}</td>
						<td>
							<input id="{{this.id}}" type="text" class="input-field" value="{{this.olQuantity}}">
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<br>
		<div>
			<a id='logOut' class='btn btn-primary right' href='/'>Log out</a>
			{{> navbuttons}}
		</div>
	</div>
</div>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/underpar.js'></script>
<script src='/js/index.js'></script>