<div id='home'>
    <div class='jumbo'>
        <h2 class='white-text center header'>Name Here</h2>
    </div>
    <div class='container'>
        <div class='background z-depth-3'>
            <div class='row padIt'>
                <div class='col-8 offset-2'>
                    <form class='mb-4' action='GET'>
                        <div class='form-group flow-text'>
                            <button id='back' class='btn btn-primary right top-back'><a href='/superUser'>Back</a></button>
                            <label for='users-text'><h5>Users</h5></label>
                            <input type='text' id='user-text' class='form-control' aria-describedby='user-text' placeholder='Enter user'>

                        </div>
                        <button id='submit' class='btn btn-primary right'>Submit</button>
                    </form>
                    <h4>Users:</h4>
                    <thead id='user-list' class='list-group'>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Access</th>
                                <th>Phone</th>
                                <th>Add</th>
                            </tr>
                    </thead>
                    <tbody data-id='{{this.id}}' class='list-group-item'>
                        {{#each user}}
                        <tr>
                            <td><a href='#modal{{this.id}}' class='modal-trigger'>{{this.usName}}</a><div class="modal"
                                    id="modal{{this.id}}">
                                    <div class="modal-content">
                                        <h4>{{this.usName}}</h4>
                                        <p>{{this.usPhone}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                    </div>
                                </div>
                            </td>
                            <td>{{this.usRole}}</td>
                            <td>{{this.usPhone}}</td>
                            <td>{{> addOne}}</td>
                            </a></tr>
                        {{/each}}
                    </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active page"><a href="#!">1</a></li>
                        <li class="waves-effect page"><a href="#!">2</a></li>
                        <li class="waves-effect page"><a href="#!">3</a></li>
                        <li class="waves-effect page"><a href="#!"><i class="material-icons">chevron_right</i></a></li>

                        <button id='logOut' class='btn btn-primary right'>Log out</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>
<script src='/js/products.js'></script>