<div id='user'>
    <div>
        {{> header}}
    </div>
    <div class='container'>
        <div class='background z-depth-3'>
            <div class='row padIt'>
                <div class='col-8 offset-2'>
                    <a id='back' class='btn btn-primary right top-back' href='/basicuser'>Back</a>
                    <h5>Users</h5>
                    <table class='highlight'>
                        <tbody data-id='{{this.id}}' class='list-group-item'>
                            <tr>
                                <th>Name</th>
                                <th class='center-align'>Role</th>
                                <th class='center-align'>Phone #</th>
                                <th class='center-align'>Status</th>
                                <th class='center-align'></th>
                            </tr>
                            {{#each user}}
                            <tr id='userInfo'>
                                <td>{{this.usName}}{{> userEdit}}</td>
                                {{#if this.usRole}}
                                <td class='center-align'>Supervisor</td>
                                {{else}}
                                <td class='center-align'>Employee</td>
                                {{/if}}
                                <td class='center-align'>{{this.usPhone}}</td>
                                <td class='center-align'>{{this.usStatus}}</td>
                                <td class='center-align'>
                                    {{!-- edit info --}}
                                    <a id='{{this.id}}' class="edit btn-floating btn-small red modal-trigger" href='#modalUser{{this.id}}'>
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class='row'>
                    <div class='nav-style'>
                        {{> navbuttons}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>
<script src='/js/editUser.js'></script>