<div id='home'>
    <div>
        {{> header}}
    </div>
    <div class='container'>
        <div class='background z-depth-3'>
            <div class='row padIt'>
                <div class='col-8 offset-2'>
                    <button id='back' class='btn btn-primary right top-back'><a href='/basicuser'>Back</a></button>
                    <h5>Users</h5>
                    <table class='highlight'>
                        <tbody data-id='{{this.id}}' class='list-group-item'>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Phone Number</th>
                                <th></th>
                            </tr>
                            {{#each user}}
                            <tr id='userInfo'>
                                <td>{{this.usName}}</td>
                                {{#if this.usRole}}
                                <td>Supervisor</td>
                                {{else}}
                                <td>Employee</td>
                                {{/if}}
                                <td>{{this.usPhone}}</td>
                                <td>
                                    {{!-- edit info --}}
                                    <a id='{{this.id}}' class="edit btn-floating btn-small red">
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <a id='logOut' class='btn btn-primary right' href='/'>Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>
<script src='/js/products.js'></script>
<script src='/js/editUser.js'></script>